@import "../../global.scss";

.skills {
  scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }
  .heading-block {
    h2 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: Raleway, sans-serif;
      color: #323c47;
      font-size: 36px;
      line-height: 1.5em;
      font-weight: 500;
      text-align: center;
    }
    p {
      font-family: "Source Sans Pro", sans-serif;
      color: #6c717a;
      font-size: 20px;
      line-height: 1.5em;
      font-weight: 400;
      letter-spacing: 0.3px;
      text-align: center;
    }
  }
  .skill-container {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;

    @include mobile {
      grid-template-columns: 1fr;
      padding: 1rem;
    }

    @include tablet {
      grid-template-columns: 1fr 1fr;
      padding: 1rem;
    }

    .skill-item {
      height: 100%;
      border-radius: 10px;
      @include flexColumn();

      img {
        width: 6rem;
        height: 6rem;
      }

      h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: Raleway, sans-serif;
        color: #323c47;
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 10px;
        font-family: "Source Sans Pro", sans-serif;
        color: #656b72;
        font-size: 18px;
        line-height: 1.5em;
        text-align: center;
      }
    }

    .item-1{
      background-color: #f5f9fa;
    }
    .item-2{
      background-color:#f8f7f7;
    }
    .item-3{
      background-color: #f7f4f5;

      img{
        padding-top: .8rem;
      }
    }
    .item-4{
      background-color: #f1f5f1;
    }
  }
}
