@import "../../global.scss";

.about {
  background-color: #f7f2f7;
  @include flex();

  @include mobile {
    @include flexColumn();
  }

  @include tablet {
    @include flexColumn();
  }

  .left{
    overflow: hidden;
    flex: 1;

    h2{
      font-family: Raleway, sans-serif;
      color: #323c47;
      font-size: 40px;
      line-height: 1.5em;
      font-weight: 600;
      text-align: right;
    }

    .about-img{
      padding-left: 1rem;
      
      @include mobile {
        width: 300px;
      }
      @include tablet {
        width: 400px;
        margin-top: 10px;
      }
    }
  }
  .right{
    flex: 1;
    padding-right: 1rem;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    p{
      font-size: 1.5rem;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 20px;
      line-height: 1.8em;
      font-weight: 400;
      letter-spacing: 0.3px;
      margin: .5rem 0;

      @include mobile {
        text-align: center;
      }
      @include tablet {
        text-align: center;
        padding: 0 1rem;
      }
    }
  }
}
