@import "../../global.scss";

.item {
  height: 100%;
  @include flex();

  @include mobile {
    @include flexColumn();
  }

  .left {
    flex: 1;

    .leftContainer {
      padding-left: 2rem;

      .imgContainer {
        background-color: rgb(255, 136, 0);
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        @include flex();

        img {
          @include flex();
          margin: auto;
          width: 2rem;
          height: 2rem;
        }
      }

      h2 {
        margin: 1rem 0;
      }

      p {
        margin-bottom: 1rem;
      }

      a {
        margin: 1rem 0;
        text-decoration: none;
        color: blue;
      }
    }
  }

  .right {
    flex: 1;

    img {
      @include flex();
      margin: 0 auto;
      object-fit: contain;
      width: 45rem;
      height: 20rem;
    }
  }
}
