@import "../../global.scss";

.works {
  background-color: #cceffd;
  @include flexColumn();

  .works-heading {
    text-align: center;
    font-size: 3rem;
    padding-top: 0.8rem;
    margin-bottom: auto;
  }

  .slider-container {
    @include flex();
    width: 100%;
    height: 80%;
    border: none;
    border-radius: 25px;
    margin: 0 auto;

    overflow: hidden;

    @include mobile{
      height: 80%;
      width: 90%;
    }

    .slick-slider{
      overflow: hidden;
    }
  }
}
