@import "../../global.scss";

.works {
  background-color: #cceffd;
  @include flexColumn();

  .works-heading {
    text-align: center;
    font-size: 3rem;
    padding-top: 0.8rem;
    margin-bottom: auto;
  }

  .slider-container {
    @include flex();
    width: 80%;
    height: 60%;
    border: 2px black solid;
    border-radius: 25px;
    box-shadow: 0 0 10px #655c96;
    margin-bottom: auto;
    overflow: hidden;

    .slick-slider {
      height: 100%;
      @include flex();
      overflow: hidden;
      background-color: #d1f3e4;
    }
  }
}
